/** header icons **/
.icon-48-main 		{ background-image: url(images/Mushroom-Bee-icon.png); }
.icon-48-plants 		{ background-image: url(images/Flower-Fire-icon.png); }
.icon-48-blooms		{ background-image: url(images/Pollen-Flower-icon.png); }
.icon-48-dates		{ background-image: url(images/Calendar-icon.png); }
.icon-48-locations	{ background-image: url(images/Location-icon.png); }
.icon-48-hives		{ background-image: url(images/Mushroom-Bee-icon.png); }
